<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="MessageBehavior">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
          <!--WSE Binding-->
          <service name="WcfService.UserService" behaviorConfiguration="MessageBehavior">
          <host>
            <baseAddresses>
              <!--两个用途：第一：这个地址用于给client端作为服务引用地址-->
              <!--两个用途：第二：作为endpoint的基地址存在-->
              <add baseAddress="http://localhost:12451/UserService"/>
            </baseAddresses>
          </host>
          <!--address:就是告诉wcf的地址是上面的baseAddress-->
          <!--binging:改wcf走的http协议WSE-->
          <!--contact:就是契约内容-->
          <endpoint address="" binding="wsHttpBinding" contract="WcfService.IUserService"></endpoint>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
        </service>

          <!--NET.TCP Binding#>
          <service name="WcfService.UserService" behaviorConfiguration="MessageBehavior">
            <host>
              <baseAddresses>
                <#两个用途：第一：这个地址用于给client端作为服务引用地址#>
                <#两个用途：第二：作为endpoint的基地址存在#>
                <add baseAddress="http://localhost:12452/User"/>
              </baseAddresses>
            </host>
            <#address:就是告诉wcf的地址是上面的baseAddress#>
            <#binging:改wcf走的http协议WSE#>
            <#contact:就是契约内容#>
            <endpoint address="net.tcp://localhost:111/User" binding="netTcpBinding" contract="WcfService.IUserService"></endpoint>
            <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
          </service>-->
            <service name="WcfService.MyService" behaviorConfiguration="MessageBehavior">
                <endpoint address="" binding="basicHttpBinding" contract="WcfService.IMyService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:12451/MyService/" />
                    </baseAddresses>
                </host>
            </service>
            <service name="WcfService.ClassService" behaviorConfiguration="MessageBehavior">
                <endpoint address="net.tcp://localhost:111/ClassService" binding="netTcpBinding" contract="WcfService.IClassService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:12451/ClassService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
